In [ ]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

data = pd.read_csv(r"./Tweets.csv")
data.sample.head(5)

,textID,text,selected_text,sentiment
16971,ba3b1d6795,- going somewhat out of town? (x visitng uncle...,- going somewhat out of town? (x visitng uncle...,neutral
1184,6d6430bd5d,When balancing a chair on my chin in the sixt...,When balancing a chair on my chin in the sixth...,positive
849,0397995d17,trying to figure it out,trying to figure it out,neutral
25577,7e05e68092,Ok this is a lot more boring then I thought a...,Ok this is a lot more boring,negative
1375,db0604e817,i really cant take this.,i really cant take this.,negative

In [ ]:
stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

def preprocess(text):
    tokens = word_tokenize(text)
    tokens = [w for w in tokens if w.lower() not in stop_words]
    tokens = [lemmatizer.lemmatize(w.lower()) for w in tokens]
    tokens = " ".join(tokens)
    return tokens

corpus = data["text"].dropna().apply(preprocess)
print(corpus[:5])

vectorizer = TfidfVectorizer(sublinear_tf = True,
                             use_idf = True)

X = vectorizer.fit_transform(corpus)
X.shape

0              ` responded , going
1    sooo sad miss san diego ! ! !
2                 bos bullying ...
Name: text, dtype: object

(27480, 24642)